html, body {
	font-size: 90%;
}

html, body, input {
	font-family: arial, sans-serif;
}

#left-pane {
	position: fixed;
	width: 240px;
	top: 10px;
	left: 10px;
	overflow: hidden;
	overflow-x: hidden;
}

#subscriptions ul {
	list-style: none;
	padding-left: 0px;
	line-height: 12px;
}

#subscriptions ul {
	margin-top: 5px;
}

#subscriptions ul li {
	border-left: 3px solid white;
	padding: 0px 5px 5px 10px;
	cursor: pointer;
	color: #333;
	font-size: 13px;
}

#subscriptions img {
	position: relative;
	top: 3px;
}

#subscriptions ul li.unread {
	font-weight: bold;
	color: black;
}

#subscriptions ul li:hover {
	background-color: #eee;
}

#subscriptions ul li.selected {
	border-left: 3px solid #DD4B39;
	color: #D14836;
}

#subscriptions h3 {
	padding: 5px 0px 5px 5px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#subscriptions h3 a {
	color: black;
	text-decoration: none;
}

#subscriptions h3:hover {
	background-color: #eee;
}

#subscriptions h3.selected {
	border-left: 3px solid #DD4B39;
	color: #D14836;
}

#subscription h3.selected a {
	color: #D14836;
}

#subscriptions h3.selected a:visited {
	color: #D14836;	
}

#subscriptions::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

#subscriptions::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	border-width: 1px 1px 1px 6px;
}

#subscriptions::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

#subscriptions h3 {
	font-size: 13px;
}

#subscriptions #shared_unread_count, #subscriptions #total_unread_count {
	color: #666;
	font-size: 85%;
}

#subscriptions .unread_count {
	color: #666;
	font-size: 85%;
	font-weight: normal;
}

#right-pane {
	position: absolute;
	left: 270px;
	top: 0px;
	width: 960px;
}

#right-pane #entries {
	margin-top: 50px;
	margin-bottom: 400px;
}

.entry.current .card {
	border-left: 2px solid #4D90F0;
};

.card-content {
	padding: 15px;
}

.entry .entry-body {
	width: 650px;
}

.card { 
	border: 1px solid #DDD;
	border-left: 2px solid #DDD;
	box-shadow: 0 0 4px #e3e5eb;
}

.entry {
	margin-top: 5px;
	margin-bottom: 10px;
}

.entry.read a {
	color: #444;
}

.entry .entry-date {
	float: right;
}

.entry-container a {
	color: #15C;
}

.card h2 {
	margin: 0;
}

.entry .entry-title {
	font-size: 140%;
	font-weight: bold;
}

.entry .entry-title a {
	text-decoration: none;
}

.entry .entry-author {
	color: #666;
}

.entry a.entry-source-title {
	text-decoration: none;
}

.entry .entry-date {
	color: #666;
}

.entry-body {
	padding-top: 6px;
}

.entry .entry-actions {
	padding: 6px 7px;
	color: #444;
}

.card-common .card-actions {
	background-color: #FAFAFA;
	border-top: 1px solid #EBEBEB;
	height: 30px;
	color: #444;
}

.entry .entry-actions .link {
	padding: 1px 0 1px 16px;
	margin-right: 16px;
	white-space: nowrap;
	cursor: pointer;
	color: #666;
}

.entry .entry-actions .star-inactive {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -32px -64px; /* For the star-inactive: -102px -1px */
}

.entry .entry-actions .star-active {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -48px -96px; /* For the star-active: -64px -33px */
}

.entry .entry-actions .share-with-note-active {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -48px -96px;
}

.entry .entry-actions .share-with-note-inactive {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -96px -194px;
}

.entry .entry-actions .share-with-note .link {
	margin-bottom: 10px;
}

.entry .card-share-with-note .after-actions {
	margin-left: 40px;
}

.entry .card-share-with-note textarea {
	width: 90%;
	height: 50px;
	margin-left: 40px;
	font-family: Monaco, courier;
	padding: 5px;
	font-size: 13px;
}

.entry .entry-actions .read-state-not-kept-unread {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -64px -128px;
}

.entry .entry-actions .read-state-kept-unread {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -80px -160px;
}

.entry .entry-note {
	padding: 10px;
	background-color: #D6EEF8;
	margin-bottom: 10px;
}

.entry .comments {
	border-top: 1px solid #DDD;
	padding: 10px;
}

.entry .comments .comments-top {
	font-weight: bold;
}

.entry .comments a {
	font-weight: normal;
	color: #15C;
}

.entry .comments .comment {
	margin-top: 5px;
	padding-top: 5px;
}

.entry .comments .comment .comment-author {
	font-weight: bold;
}

.entry .comments .comment .comment-timestamp {
	color: #666;
	font-weight: normal;
}

.entry .comments .comment-add-form {
	margin-top: 10px;
}

.entry .comments .add-comment-link {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -96px -192px;
	padding: 1px 0 1px 16px;
	margin-right: 16px;
	white-space: nowrap;	
}

.entry .comments textarea {
	width: 90%;
	height: 50px;
	margin-left: 40px;
	font-family: Monaco, courier;
	padding: 5px;
	font-size: 13px;
}

.entry .comments .after-actions {
	margin-left: 40px;
}

#loading-area-container, #broadcast-message-container, #alert-container, #notice-container {
	position: fixed;
	z-index: 10000;
	top: 0;
	text-align: center;
	left: 50%;
	color: black;
	font-size: 90%;
}

#loading-area-container #loading-area, #broadcast-message-container #broadcast-message, #alert, #notice {
	font-weight: bold;
	font-size: 12px;
	border-width: 1px;
	height: 14px;
	padding: 6px 16px;
	background-color: #F9EDBE;
	border-color: #F0C36D;
	color: #333;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	border-style: solid;
	text-align: center;
}

#broadcast-message-container #broadcast-message {
	font-weight: normal;
}

#no-entries-msg {
	padding: 1.5em 2em 3em;
	text-align: center;
	background: white;
	border: 2px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1em;
	color: black;
	font-size: 90%;
}

#no-entries-msg h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#no-entries-msg .link {
	font-size: 110%;
	text-decoration: underline;
	cursor: pointer;
	color: #15C;
}

#controls {
	position: fixed;
	height: 30px;
	width: 960px;
	background-color: white;
	padding-bottom: 5px;
	padding-top: 10px;
	border-bottom: 1px solid #EBEBEB;
}

.jfk-button {
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 27px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-right: 16px;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
}

.jfk-button-hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
	border: 1px solid #C6C6C6;
	color: #333;
}

.jfk-button-hover:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.jfk-button.jfk-button-hover img {
	opacity: 1.0;
}

.jfk-button-standard {
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	color: #444;
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#viewer-refresh {
	float: left;
}

.jfk-button img {
	opacity: 0.55;
	margin-top: -3px;
	vertical-align: middle;
}

#unread-or-all {
	margin-right: 1.5em;
	float: left;
	font-size: 11px;
	font-weight: bold;
	line-height: 27px;
	list-style: none;
	margin: 0 2px;
	min-width: 46px;
	outline: none;
	padding: 0 18px 0 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 16px;
}

.menu-button-caption {
	vertical-align: top;
	white-space: nowrap;
	position: relative;
	display: inline-block;
}

.menu-button-dropdown {
	border-color: #777 transparent;
	border-style: solid;
	border-width: 4px 4px 0;
	height: 0;
	width: 0;
	position: relative;
	left: 68px;
	top: -15px;
}

#unread-or-all-menu, #settings-menu {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-transition: opacity .218s;
	background: white;
	border: 1px solid rgba(0, 0, 0, .2);
	cursor: default;
	font-size: 13px;
	margin: 0;
	outline: none;
	padding: 6px 0;
	position: absolute;
	overflow: hidden;
	z-index: 10000;
	color: black;
}

#unread-or-all-menu .item, #settings-menu .item {
	position: relative;
	color: #333;
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 6px 7em 6px 30px;
	white-space: nowrap;
	font: normal 12px Arial,sans-serif;
}

#unread-or-all-menu .item:hover, #settings-menu .item:hover {
	background-color: #EEE;
	border-color: #EEE;
	border-style: dotted;
	border-width: 1px 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

#revchron, #chron {
	float: left;
	font-size: 11px;
	font-weight: bold;
	line-height: 27px;
	list-style: none;
	margin: 0;
	min-width: 46px;
	outline: none;
	padding: 0 6px 0 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
};

#revchron {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

#chron {
	border-left: none;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	margin-right: 16px;
}

.jfk-button-checked {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	background-color: #EEE;
	background-image: -webkit-linear-gradient(top,#EEE,#E0E0E0);
	background-image: -moz-linear-gradient(top,#EEE,#E0E0E0);
	background-image: -ms-linear-gradient(top,#EEE,#E0E0E0);
	background-image: -o-linear-gradient(top,#EEE,#E0E0E0);
	background-image: linear-gradient(top,#EEE,#E0E0E0);
	border: 1px solid #CCC;
	color: #333;
}
.jfk-button-unchecked {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
	border: 1px solid #C6C6C6;
	color: #333;
}

#mark-all-as-read {
	float: left;
}

#logo {
	float: right;
	cursor: pointer;
}
#logo span {
	font-family: 'Graduate', cursive;
	font-size: 24px;
	color: #FF7C00;
	position: relative;
	top: -5px;
}

#end-of-the-line {
	color: #999;
	font-size: 110%;
	top: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
}

#entries-loader {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#quickpost-button {
	float: left;
	width: 80px;
	height: 27px;
	display: block;
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
	background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
	background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
	background-image: -o-linear-gradient(top,#DD4B39,#D14836);
	background-image: linear-gradient(top,#DD4B39,#D14836);
	border: 1px solid transparent;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
};

#quickpost-button.hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	background-color: #C53727;
	background-image: -webkit-linear-gradient(top,#DD4B39,#C53727);
	background-image: -moz-linear-gradient(top,#DD4B39,#C53727);
	background-image: -ms-linear-gradient(top,#DD4B39,#C53727);
	background-image: -o-linear-gradient(top,#DD4B39,#C53727);
	background-image: linear-gradient(top,#DD4B39,#C53727);
	border: 1px solid #B0281A;
	border-bottom-color: #AF301F;
}

#quickpost-button.hover:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#DD4B39,#B0281A);
	background-image: -moz-linear-gradient(top,#DD4B39,#B0281A);
	background-image: -ms-linear-gradient(top,#DD4B39,#B0281A);
	background-image: -o-linear-gradient(top,#DD4B39,#B0281A);
	background-image: linear-gradient(top,#DD4B39,#B0281A);
	border: 1px solid #992A1B;
}

#quickpost-form {
	margin-top: 50px;
}

#quickpost-form input[type=text] {
	font-size: 18px;
	width: 650px;
	font-family: "Helvetica";
	font-weight: bold;
	padding: 3px;
}

#quickpost-form textarea {
	font-family: Monaco, courier;
	margin-top: 10px;
	padding: 5px;
	font-size: 13px;
	width: 650px;
	height: 250px;
}

.meta-page {
	margin: 0 auto;
	text-align: center;
}

.meta-page h2 {
	font-family: "Graduate", cursive;
	color: #FF7C00;
	font-weight: normal;
}

.meta-page h2 a {
	color: #74BB5A;
	text-decoration: none;
	border-bottom: 1px solid #74BB5A;
}

.meta-page h2 a:hover {
	color: #4c8b36;
}

.meta-page input {
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.meta-page input[type=password] {
	letter-spacing: 0.2em;
}

.meta-page button.classy {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	border-color: #74BB5A;
	border-bottom-color: #509338;
	background: #8ADD6D;
	background: -moz-linear-gradient(#8ADD6D,#60B044);
	background: -webkit-linear-gradient(#8ADD6D,#60B044);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d',endColorstr='#60b044')";
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.meta-page button.classy:hover {
    background: #69d344;
    background: -moz-linear-gradient(#69d344, #4c8b36);
    background: -webkit-linear-gradient(#69d344, #4c8b36);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d344', endColorstr='#4c8b36')";
    border-color: #4a993e;
    color: #fff;
}

.meta-page button {
	display: inline-block;
	padding: 8px 15px;
	line-height: normal;
	position: relative;
	font-family: Helvetica,arial,freesans,clean,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
	background: whiteSmoke;
	background: -moz-linear-gradient(whiteSmoke,#E5E5E5);
	background: -webkit-linear-gradient(whiteSmoke,#E5E5E5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#e5e5e5')";
	border-radius: 3px;
	border: 1px solid #DDD;
	border-bottom-color: #BBB;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.meta-page #remember-me {
	color: #666;
	font-size: 11px;
	font-family: Helvetica;
}

.meta-page #error_explanation h2 {
	font-family: Helvetica;
	color: #D14836;
}

.meta-page #error_explanation ul {
	list-style: none;
	color: #D14836;
	font-size: 14px;
}

.meta-page h1 {
	color: #4c8b36;
	font-size: 40px;
}

#subscriptions-management.meta-page {
	color: #333;
	font-family: 'Inika', sans-serif;
	font-size: 15px;
}

#subscriptions-management.meta-page h2 {
	font-family: "Inika", sans-serif;
	margin-bottom: 0px;
	margin-top: 30px;
}

a#note-in-readertron  {
	width: 130px;
	height: 27px;
	display: block;
	font-weight: normal;
	font-family: arial;
	text-transform: uppercase;
	text-decoration: none;
	margin:0 auto;
	margin-top: 10px;
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
	background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
	background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
	background-image: -o-linear-gradient(top,#DD4B39,#D14836);
	background-image: linear-gradient(top,#DD4B39,#D14836);
	border: 1px solid transparent;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
}

#shared-subscriptions {
	text-align: left;
	margin:0 auto;
	width: 300px;
	margin-top: 10px;
}

#shared-subscriptions input[type=submit] {
	text-align: center;
	margin:0 auto;
}

ol#add-subscriptions {
	list-style: none;
	text-align: left;
	margin:0 auto;
	width: 430px;
	margin-top: 10px;	
}

ol#add-subscriptions li {
	margin-top: 10px;
}

#subscriptions-management.meta-page input[type=file] {
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
	border: 1px solid #eee;
	margin-top: 10px;
}

#entries pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#settings-button {
	margin-right: 1.5em;
	float: left;
	font-size: 11px;
	font-weight: bold;
	line-height: 27px;
	list-style: none;
	margin: 0 2px;
	margin-left: 16px;
	min-width: 46px;
	outline: none;
	padding: 0 18px 0 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 16px;
}

#settings-button .menu-button-dropdown {
	border-color: #777 transparent;
	border-style: solid;
	border-width: 4px 4px 0;
	height: 0;
	width: 0;
	position: relative;
	left: 48px;
	top: -15px;
}

table#current-subscriptions {
	width: 600px;
	margin:0 auto;
	text-align: left;
}

table#current-subscriptions a.delete-feed-link {
	color: #D14836;
}

table#current-subscriptions a.subscriptions-page-feed-link {
	color: #15C;
}

.meta-page input#feed_url {
	width: 300px;
}

#edit-user.meta-page input {
	letter-spacing: 0em;
}

.entry .entry-note {
	margin-top: 0px;
	padding-bottom: 1px;
}
.entry .entry-note p {
	margin-top: 0px;
}

#single #explanatory-note {
	margin-top: 50px;
	margin-left: 20px;
	width: 250px;
	font-family: 'Inika';
}