html, body {
	font-size: 90%;
}

html, body, input {
	font-family: arial, sans-serif;
}

.left-pane {
	position: fixed;
	width: 300px;
	top: 10px;
	left: 10px;
	height: 800px;
	overflow: hidden;
	overflow-x: hidden;
}

#subscriptions ul {
	list-style: none;
	padding-left: 0px;
}

#subscriptions ul li {
	border-left: 3px solid white;
	padding: 5px;
	cursor: pointer;
	color: #333;
}

#subscriptions ul li.unread {
	font-weight: bold;
}

#subscriptions ul li:hover {
	background-color: #eee;
}

#subscriptions ul li.selected {
	border-left: 3px solid #DD4B39;
	color: #D14836;
}

#subscriptions::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

#subscriptions::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	border-width: 1px 1px 1px 6px;
}

#subscriptions::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

#entries {
	position: absolute;
	left: 330px;
	top: 10px;
	width: 900px;
}

.entry.current .card {
	border-left: 2px solid #4D90F0;
};

.card-content {
	padding: 15px;
}

.entry .entry-body {
	width: 650px;
}

.card { 
	border: 1px solid #DDD;
	border-left: 2px solid #DDD;
	box-shadow: 0 0 4px #e3e5eb;
}

.entry {
	margin-top: 5px;
	margin-bottom: 10px;
}

.entry .entry-date {
	float: right;
}

.entry-container a {
	color: #15C;
}

.card h2 {
	margin: 0;
}

.entry .entry-title {
	font-size: 140%;
	font-weight: bold;
}

.entry .card-bottom.unread {
	background-color: #eefbff;
}

.entry .entry-title a {
	text-decoration: none;
}

.entry .entry-author {
	color: #666;
}

.entry a.entry-source-title {
	text-decoration: none;
}

.entry .entry-date {
	color: #666;
}

.entry-body {
	padding-top: 6px;
}

.entry .entry-actions {
	padding: 6px 7px;
	color: #444;
}

.card-common .card-actions {
	background-color: #FAFAFA;
	border-top: 1px solid #EBEBEB;
	height: 30px;
	color: #444;
}

.entry .entry-actions .link {
	padding: 1px 0 1px 16px;
	margin-right: 16px;
	white-space: nowrap;
	cursor: pointer;
	color: #666;
}

.entry .entry-actions .star-inactive {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -102px -1px;
}

.entry .entry-actions .star-active {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -64px -33px;
}

.entry .entry-actions .email-active {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -48px -96px;
}

.entry .entry-actions .email .link {
	margin-bottom: 10px;
}

.entry .entry-actions .email-inactive {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -32px -64px;
}

.entry .card-share-with-note .after-actions {
	margin-left: 40px;
}

.entry .card-share-with-note textarea {
	width: 90%;
	height: 50px;
	margin-left: 40px;
	font-family: courier;
	font-size: 13px;
}

.entry .entry-actions .read-state-not-kept-unread {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -64px -128px;
}

.entry .entry-actions .read-state-kept-unread {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -80px -160px;
}

.entry .entry-note {
	padding: 10px;
	background-color: #D6EEF8;
	margin-bottom: 10px;
}

.entry .comments {
	width: 877px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-left: 2px solid #DDD;
	box-shadow: 0 0 4px #e3e5eb;
	padding: 10px;
}

.entry .comments .comments-top {
	font-weight: bold;
}

.entry .comments a {
	font-weight: normal;
	color: #15C;
}

.entry .comments .comment {
	margin-top: 5px;
	padding-top: 5px;
}

.entry .comments .comment .comment-author {
	font-weight: bold;
}

.entry .comments .comment .comment-timestamp {
	color: #666;
}

.entry .comments .comment-add-form {
	margin-top: 10px;
}

.entry .comments .add-comment-link {
	background: transparent url(/assets/stars.png) no-repeat;
	background-position: -96px -192px;
	padding: 1px 0 1px 16px;
	margin-right: 16px;
	white-space: nowrap;	
}

.entry .comments textarea {
	width: 90%;
	height: 50px;
	margin-left: 40px;
	font-family: courier;
	font-size: 13px;
}

.entry .comments .after-actions {
	margin-left: 40px;
}