<li id="subscription-<%= subscription.feed.id %>">
	<img src="<%= feed_favicon(subscription.feed.id) %>"/> <%= truncate(subscription.feed.title || subscription.feed.feed_url, length: 27) %>
	<span class="unread_count"></span>
</li>