<li id="subscription-<%= subscription.feed.id %>">
	<img src="/assets/favicons/<%= subscription.feed.id %>.png"/> <%= truncate(subscription.feed.title || subscription.feed.feed_url, length: 27) %>
	<span class="unread_count"></span>
</li>