var execute = function (text) { 
	var xmlHttpReq=new XMLHttpRequest();
 	xmlHttpReq.open("POST","<%= Domain.url %>/reader/create_post",true);
	xmlHttpReq.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	var note = document.getElementById("readertron-textarea").value;
	var query="";
	query+="&note="+note;
	query+="&type=regular";
	query+="&url="+window.location.href;
	query+="&title="+document.getElementById("readertron-title").value;
	query+="&token=<%= @token %>";
	query+="&content="+encodeURIComponent(text);
	xmlHttpReq.send(query);
};

try {
	var text = window.getSelection();
	var objRange = text.getRangeAt(0);
	var objClone = objRange.cloneContents();
	var objDiv = document.createElement("div");
	objDiv.appendChild(objClone);
	text = objDiv.innerHTML;
} catch(err) {
	var text = "<p>Try to select something on the page to share with people. Whatever you select will show up here.</p>";
};
var div = document.createElement("div");
div.id = "readertron-bookmarklet";
div.style.position ="fixed";
div.style.zIndex = "99999";
div.style.width = "500px";
div.style.height = "300px";
div.style.backgroundColor = "white";
div.style.border = "3px solid #B4CEFE";
div.style.top = "10px";
div.style.right = "10px";
var img = document.createElement("img");
img.src = "<%= Domain.url %>/assets/logo-with-wordmark.png";
img.style.padding = "5px";
img.style.position = "absolute";
img.style.top = "0px";
img.style.left = "24px";
div.appendChild(img);
var titlediv = document.createElement("div");
var title = document.createElement("input");
title.id = "readertron-title";
title.value = document.title;
title.style.color = "#333";
title.style.fontSize = "18px";
title.style.fontFamily = "Helvetica, arial, sans-serif";
title.style.position = "absolute";
title.style.left = "40px";
title.style.top = "40px";
title.style.width = "400px";
titlediv.appendChild(title);
div.appendChild(titlediv);
var contentdiv = document.createElement("div");
contentdiv.style.padding = "0px 0px 0px 5px";
contentdiv.style.height = "100px";
contentdiv.style.overflowY = "scroll";
contentdiv.style.position = "absolute";
contentdiv.style.top = "80px";
contentdiv.style.width = "400px";
contentdiv.style.left = "40px";
contentdiv.style.fontFamily = "arial, sans-serif";
contentdiv.style.fontSize = "12px";
contentdiv.style.color = "#333";
contentdiv.style.border = "1px solid #999";
contentdiv.innerHTML = text;
div.appendChild(contentdiv);
var form = document.createElement("form");
var textarea = document.createElement("textarea");
textarea.style.width = "395px";
textarea.style.height = "50px";
textarea.style.margin = "5px 0px 20px 0px";
textarea.style.padding = "5px";
textarea.style.position = "absolute";
textarea.style.top = "180px";
textarea.style.left = "40px";
textarea.id = "readertron-textarea";
var quotes = document.createElement("img");
quotes.src = "<%= Domain.url %>/assets/bookmarklet-quotes.png";
quotes.style.position = "absolute";
quotes.style.top = "180px";
quotes.style.left = "10px";
div.appendChild(quotes);
var closelink = document.createElement("a");
closelink.style.position = "absolute";
closelink.style.top = "10px";
closelink.style.right = "10px";
closelink.style.color = "#100F62";
closelink.style.fontSize = "12px";
closelink.style.fontFamily = "arial";
closelink.onclick = function() { var c = document.getElementById("readertron-bookmarklet"); c.parentNode.removeChild(c); cancelBubble(); };
closelink.href = "#";
var closetext = document.createTextNode("Close this");
closelink.appendChild(closetext);
div.appendChild(closelink);
var submit = document.createElement("input");
submit.type = "submit";
submit.value = "Post Item";
submit.style.position = "absolute";
submit.style.top = "250px";
submit.style.left = "40px";
submit.onclick = function(e) { execute(text); };
form.appendChild(textarea);
form.appendChild(submit);
div.appendChild(form);
document.body.appendChild(div);