<div id="unread-count-dump" style="display: none;"><%= @unread_count %></div>
<% if @entries.present? %>
	<% @entries.each_with_index do |entry, index| %>
		<%= render (entry.shared? ? "share" : "entry"), entry: entry, index: index %>
	<% end %>
<% else %>
	<div id="no-entries-msg">
		<% if @feed_name.present? %>
			<h2>"<%= @feed_name %>" has no unread items.</h2>
		<% else %>
			<h2>You have no unread items.</h2>
		<% end %>
		<span class="link view-all-items">View all items</span>
	</div>
<% end %>