<div id="panes">
	<div class="left-pane">
		<div id="subscriptions">
			<h3>Subscriptions</h3>
			<ul>
			<% @subscriptions.each do |subscription| %>
				<% next if subscription.feed.title.blank? %>
				<%= render "subscription", subscription: subscription %>
			<% end %>
			</ul>
		</div>
	</div>

	<div id="entries" class="cards right">
		<% @entries.each_with_index do |entry, index| %>
			<%= render "entry", entry: entry, index: index %>
		<% end %>
	</div>
</div>